<footer class="footer">
	<div class="container is-dark">
		<div class="columns">

			<div class="column is-two">
				<p>Copyright © 2017 | Monterey Bay Surf Lessons</p>
			</div>
			<div class="column">

			</div>
			<div class="column is-three">
				<div id="TA_cdsratingsonlynarrow566" class="TA_cdsratingsonlynarrow tripAdvisor">
					<ul id="DDqodJA" class="TA_links GY1D6w45SJQ">
					<li id="sKXNJaU" class="pyNg20">
					<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=566&amp;locationId=1489200&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>