<section class="hero is-primary footer-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
	    Come Surf with Monterey Bay Surf!
    	<div class="columns">
	    	<div class="column">
				<div class="block footer-button">
					<a class="button">Book Here</a>
				</div>	
	    	</div>
    	</div>

    </div>
  </div>
</section>

<section>
<footer class="footer">
	<div class="container is-dark">
		<div class="columns">
			<div class="column copyright">
				<p>Copyright © 2017 | Monterey Bay Surf Lessons</p>
			</div>
			<div class="column social-column">
				<a href="https://www.facebook.com/MontereySurfLessons/" class="fa fa-facebook facebook-footer" aria-hidden="true"></a>
				<a href="https://www.instagram.com/explore/locations/1019191668/monterey-bay-surf-lessons/?hl=en" class="fa fa-instagram insta-footer" aria-hidden="true"></a>
				<div id="TA_socialButtonBubbles248" class="TA_socialButtonBubbles trip-advisor-footer">
					<ul id="zfTjrq16" class="TA_links D98Sju">
					<li id="FsSoArKCbD1" class="J6oc9fvH7">
					<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g32172-d1489200-Reviews-South_Bay_Surf_Lessons-Carmel_Monterey_County_California.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/socialWidget/20x28_green-21693-2.png"/></a>
					</li>
					</ul>
					</div>
					<script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=248&amp;locationId=1489200&amp;color=green&amp;size=rect&amp;lang=en_US&amp;display_version=2"></script>
				</div>
			</div>
		</div>
	</div>
</footer>
</section>
<script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=566&amp;locationId=1489200&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>