<section class="hero is-primary">
	<div class="block">
		<a class="button is-info book-nav-button">Book Here</a>
		<i class="fa fa-phone" aria-hidden="true"></i>
		<a class="number-nav">831-915-0789</a>
		<i class="fa fa-envelope" aria-hidden="true">
			</i>
	</div>
</section>

<section class="hero">
		<nav class="navbar">
			<div class="navbar-brand bulma">
				<a class="navbar-item bulma" href="#">
		      		<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
				</a>
			</div>
			<div id="navMenu" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/"> HOME </a> 
				 	<a class="navbar-item" href="/about"> ABOUT </a> 
				 	<a class="navbar-item" href="/faq"> FAQ </a> 
				 	<a class="navbar-item" href="/paddleboards"> PADDLEBOARDS </a> 
				 	<a class="navbar-item" href="/reviews"> REVIEWS </a> 
					<a class="navbar-item" href="/photos" id="photo-item"> PHOTOS </a> 
				</div>
			</div>
		</nav>
	</div>
</section>
