<nav class="navbar">
	<div class="navbar-brand">
		<a class="navbar-item" href="#">
      		<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
		</a>
	</div>
	<div id="navMenu" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="/"> Home </a> 
		 	<a class="navbar-item" href="/about"> About </a> 
		 	<a class="navbar-item" href="/faq"> FAQ </a> 
		 	<a class="navbar-item" href="/paddleboards"> Paddlebards </a> 
		 	<a class="navbar-item" href="/reviews"> Reviews </a> 
			<a class="navbar-item" href="/photos"> Photos </a> 
		</div>
	</div>
</nav>
