{{!--  --}}
<section class="hero is-info">
	<div class="block nav-block">
		<a class="button is-primary book-nav-button">Book Here</a>
		<a class="fa fa-phone" aria-hidden="true"></a>
		<a href="#" class="number-nav">831-915-0789</a>
		<a href="https://www.facebook.com/MontereySurfLessons/" class="fa fa-facebook facebook-icon" aria-hidden="true"></a>
		<a href="#" class="fa fa-envelope" aria-hidden="true"></a>
		<a href="#">montereybaysurflessons@gmail.com</a>
	</div>
</section>

{{!--  --}}
<section class="hero">
		<nav class="navbar">
			<div class="navbar-brand bulma">
				<a class="navbar-item bulma" href="#">
		      		<img src="/images/surf-logo.jpg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
				</a>
			</div>
			<div id="navMenu" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/"> HOME </a> 
				 	<a class="navbar-item" href="/about"> ABOUT </a> 
				 	<a class="navbar-item" href="/faq"> FAQ </a> 
				 	<a class="navbar-item" href="/paddleboards"> PADDLEBOARDS </a> 
				 	<a class="navbar-item" href="/reviews"> REVIEWS </a> 
					<a class="navbar-item" href="/photos" id="photo-item"> PHOTOS </a> 
				</div>
			</div>
		</nav>
	</div>
</section>
