	<section class="hero review-hero">
		<div class="faq-image">
			<img src="/images/surf-12.jpg">
		</div>
	</section>

	<section class="hero">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        <strong>Safety is our #1 concern! </strong> 
	        </br>
	        At Monterey Bay Surf Lessons we provide individual and group surf instruction at the world renowned  Carmel Beach, California on the scenic Monterey Peninsula
	      </h1>
	    </div>
	  </div>
	</section>

	<section class="hero is-medium">
		<div class="columns">
			<div class="column is-4 about-column">
				<div class="content about-content">
				<p>
				Monterey Bay Surf Lessons started from humble beginnings. It began 24 years ago with a father teaching his sons and their friends to surf. After seeing so many struggle trying to master the sport on their own, he figured it was his duty to lend some of his own knowledge and experience to his children. He could be found almost every weekend with a small group of gleeful kids at the south end of Carmel Beach, pushing them into waves. 
				</p>
				<p>
				As his sons and their friends grew older, his assistance, although helpful, was seldom needed. As a surfer, he still attended the beach regularly and he saw groups of beginners, just like his children once were, trying to learn the sport on their own. He watched them struggle to catch waves and thought to himself, "All they need is a little push". And that was how Monterey Bay Surf Lessons was born. 
				</p>
				<p>
				At Monterey Bay Surf Lessons, we strive to provide you with the tools necessary to be a successful surfer, whether that is only for one day or for a lifetime. We will not only provide you with the tools but the knowledge that comes from years of experience in the water. Unlike other, "one-size fits all" surf schools we offer small lesson sizes and one on one coaching, accommodating each individual's needs. Our goal is to take any frustration and struggle out of one of the world’s most exhilarating and enjoyable feelings, riding a wave. The first wave you ride is an experience you will remember for the rest of your life; we hope to help you attain that.
				</p>
				</div>
			</div>
			<div class="column is-4">
				<figure class="image is-4by3">
  					<img src="/images/surf-6.jpg">
				</figure>
				</br>
				<figure class="image is-4by3">
  					<img src="/images/surf-8.jpg">
				</figure>
			</div>		

		</div>
	</section>

	<hr>
