<div>
	<section class="hero review-hero">
		<div class="faq-image">
			<img src="/images/surf-5.jpg">
		</div>
	</section>

	<section class="hero">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Hero title
	      </h1>
	    </div>
	  </div>
	</section>

	<hr>


</div>


