<div>
	<section class="hero review-hero">
		<div class="faq-image">
			<img src="/images/surf-5.jpg">
		</div>
	</section>

{{!-- Check out the Reviews Paragraph --}}
<section class="hero">
  <div class="hero-body reviews">
    <div class="container has-text-centered">
      <h1 class="title">
        <strong>FAQ</strong>
      </h1>
    </div>
  </div>
</section>

{{!-- Actual Review Section --}}
<section>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	        <p>
	        	Unlike most surf schools we do not ask 20 people to show up for lessons at the same time and put them all in the water together with 5 instructors. For your safety our class size is limited to 4 students at a time in the same location.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	        <p>
	        	We generally meet in Carmel near the beach for lessons. If the waves in Carmel are too small we go to Asilomar State Beach in Pacific Grove.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	        <p>
				If the waves in Carmel are too big we go to Del Monte Beach off Casa Verde St.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	        <p>
				If the waves are too big at Del Monte Beach we go to the Monterey Municipal Wharf off Figuroa St.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	        <p>
				All lessons last a minimum of 2 hours.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>

	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	        <p>
				All lessons include a surfboard and wetsuit
	        </p>
	      </div>
	    </div>
	  </article>
	</div>

	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				We teach surfing every day
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				You must sign up online for insurance reasons Availability Calendar is shown as you sign up. If a desired class is full call me and I will  open another one.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				Lesson times are 10 am and 1 pm.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				4 pm lessons are sometimes added in July and August to meet demand. 
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				Advance lessons are by appointment when waves are optimal in size and shape.
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				For safety reasons we do not decide the lesson location until the night before the lesson
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				If you call we are usually in the water	so leave a message and we will call you back within 2 hours
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-four">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				It's not how well you can swim, it's how long you can hold your breath! Most lessons are held in knee to waist deep water
	        </p>
	      </div>
	    </div>
	  </article>
	</div>
	<div class="box review-box box-three">
	  <article class="media">
	    <div class="media-content">
	      <div class="content faq-content">
	      	<p>
				Been surfing in Monterey since 1961 and I've never seen a SHARK :-)
	        </p>
	      </div>
	    </div>
	  </article>
	  </br>
	</div>
</section>

<hr>

<section class="hero">
  <div class="hero-body reviews">
    <div class="container has-text-centered">
      <h1 class="title">
        <strong>Cancellations</strong>
      </h1>
      </br>
      <h2 class="subtitle">
       Private Lessons | Semi-Private Lessons | Group Lessons
      </h2>
      <h2 class="subtitle">
       </br>
       Cancellations or changes need to be made at least 24 hours prior to the lesson. Please provide a written request for any cancelations or changes. Any cancellations or changes made 24 hours prior to the lesson receive a full 100 % refund. Less than 24 hours prior cancellations will depend on resoiurces expended in preparation for your lesson.  No shows will not receive a refund or a credit.
      </h2>
    </div>
  </div>
</section>



</div>


