<div>
	{{!-- this is the home hero! --}}
	<section class="hero is-fullheight homepage-main-hero">
	  <div class="hero-body">
	    <div class="container has-text-centered">
	    	<div class="hero-center-box">
		      <h1 class="title">
		        Monterey Bay Surf Lessons
		      </h1>
		      <h2 class="subtitle">
		        Safety is our #1 Concern!
		        </br>
		        
		      </h2>
	      	</div>
	    </div>
	  </div>
	</section>

	{{!-- Lesson Packages --}}
	<section class="section">
		<div class="container">
			<div class="columns">
			  <div class="column">
			  	<div class="box pricing">
			  		<div class="content">
				    	<h2>Private Small Group</h2>
				    	<br/>
				    	<h4>$125/person</h4>
				    	<h4>Groups of 2-4</h4>
				    	<br/>
				    </div>
			    	<div class="block">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			  <div class="column">
			  	<div class="box pricing">
			  		<div class="content">
				    	<h2>Private Small Group</h2>
				    	<br/>
				    	<h4>$125/person</h4>
				    	<h4>Groups of 2-4</h4>
				    	<br/>
				    </div>
			    	<div class="block">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			  <div class="column">
			  	<div class="box pricing">
			  		<div class="content">
				    	<h2>Private Small Group</h2>
				    	<br/>
				    	<h4>$125/person</h4>
				    	<h4>Groups of 2-4</h4>
				    	<br/>
				    </div>
			    	<div class="block">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			  <div class="column">
			  	<div class="box pricing">
			  		<div class="content">
				    	<h2>Private Small Group</h2>
				    	<br/>
				    	<h4>$125/person</h4>
				    	<h4>Groups of 2-4</h4>
				    	<br/>
				    </div>
			    	<div class="block">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			</div>
		</div>
	</section>
	
	{{!-- About me section --}}
{{!-- 	<section class="hero is-primary is-medium">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Medium title
	      </h1>
	      <h2 class="subtitle">
	        Medium subtitle
	      </h2>
	    </div>
	  </div>
	</section> --}}

</div>