<div>
	{{!-- this is the home hero! --}}
	<section class="hero is-fullheight homepage-main-hero">
	  <div class="hero-body">
	    <div class="container has-text-centered">
		      <h1 class="title index-title">
		        Monterey Bay Surf Lessons
		      </h1>
		      <h2 class="subtitle subtitle-text">
		        </br>
	      		"If you are in Carmel-by-the-Sea, come experience Carmel-in-the-Sea"
		      </h2>
	    	<div class="block">
	    		<a class="button is-primary">Book Here</a>
	    	</div>
	    </div>
	  </div>
	</section>

	{{!-- About MBS --}}
	<section class="hero is-medium">
	  <div class="hero-body hero-safety">
	    <div class="container">
	      <h1 class="title hero-title">
	        Saftey is our #1 Concern!
	      </h1>
	      </br>
	      <h2 class="subtitle hero-subtitle"> 
			At Monterey Bay Surf Lessons we provide individual and group surf instruction at the world renowned Carmel Beach, California on the scenic Monterey Peninsula. 
			We guarantee a fun, safe surfing experience for all ages. Whether it's your first time or you're eager to imporve your skills, Monterey Bay Surf Lessons will accomodate your learning needs
	      </h2>
	    </div>
	  </div>
	</section>

	{{!-- Lesson Packages --}}
	<section class="hero is-medium">
		<div class="container">
			<div class="columns is-mobile">
			  <div class="column">
			  	<div class="box pricing-one">
			  		<div class="content pricing-content">
				    	<h2>Private Small Group</h2>
				    	<br/>
				    	<h4>$125/person</h4>
				    	<h4>Groups of 2-4</h4>
				    	<br/>
				    </div>
			    	<div class="block pricing-block-one">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			  <div class="column">
			  	<div class="box pricing-two">
			  		<div class="content pricing-content">
				    	<h2>Private Lesson</h2>
				    	<br/>
				    	<h4>$150/person</h4>
				    	<h5>For beginners who want individual attention to help accelerate their learning experience or for intermediate or advanced surfers looking to work on technique</h5>
				    	<br/>
				    </div>
			    	<div class="block pricing-block-two">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			  <div class="column">
			  	<div class="box pricing-three">
			  		<div class="content pricing-content">
				    	<h2>Three Day Private Package</h2>
				    	<br/>
				    	<h4>$375/person</h4>
				    	<h4>Three Consecutive Days of Lessons</h4>
				    	<br/>
				    </div>
			    	<div class="block pricing-block-three">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			  <div class="column">
			  	<div class="box pricing-four">
			  		<div class="content pricing-content">
				    	<h2>Five Day Package</h2>
				    	<br/>
				    	<h4>$625/person</h4>
				    	<h4>Five Consecutive Days of Lessons</h4>
				    	<br/>
				    </div>
			    	<div class="block pricing-block-four">
			    		<a class="button is-primary">Book Here</a>
			    	</div>
			    </div>
			  </div>
			</div>
		</div>
		</br>
		<h1 class="title hero-title">
		    All lessons include equipment
		</h1>
		</br>
		<h2 class="subtitle rental-subtitle"> 
	      	If you would like to try surfing without lessons please contact Sunshine Freestyle Sports to rent equipment: 
	      	831-375-5015</br>
	      	They are located near Cannery Row in New Monterey.
		</h2>
		</br>
  		<h1 class="title hero-title">
		    Rentals without lessons are available only from our truck location.
		</h1>
		</br>
	    <div class="container">
		    <table class="table">
			    <thead>
			    	<tr>
			    		<th><abbr title=""></abbr></th>
			    		<th><abbr title="1 Day">1 Day</abbr></th>
			    		<th><abbr title="1/2 Day">1/2 Day</abbr></th>
			    		<th><abbr title="2 Days">2 Days</abbr></th>
			    		<th><abbr title="Extra Days">Extra Days</abbr></th>
			    	</tr>
			    	<tbody>
			    		<tr>
			    		<th>Surfboard</th>
					      <td>$35</td>
					      <td>$26</td>
					      <td>$61</td>
					      <td>$26</td>
					    </tr>
			    		<tr>
			    		<th>Wet Suit</th>
					      <td>$20</td>
					      <td>$15</td>
					      <td>$35</td>
					      <td>$15</td>
					    </tr>
		    			<tr>
			    		<th>Boogie Board</th>
					      <td>$12</td>
					      <td>$9</td>
					      <td>$21</td>
					      <td>$9</td>
					    </tr>
			    		<tr>
			    		<th>Car Racks</th>
					      <td>$10</td>
					      <td></td>
					      <td></td>
					      <td>$5</td>
					    </tr>
			    		<tr>
			    		<th>Beach Delivery & Pickup</th>
					      <td>$5</td>
					      <td>$5</td>
					      <td>N/A</td>
					      <td>N/A</td>
					    </tr>
			    	</tbody>
			    </thead>
		    </table>
	    </div>
	</section>
	<section>
		<div class="hero-body">
			<div class="columns is-centered">
				<div class="is-three rent-surfboard-column">
					<h1 class="rent-surfboard-h1">Rent a Surfboard</h1>
			    	<div class="block book-button">
			    		<a class="button is-primary">Book Here</a>
			    	</div>	
				</div>
				<div class="is-three rent-wetsuit-column">
					<h1 class="rent-surfboard-h1">Rent a Wetsuit</h1>
			    	<div class="block book-button">
			    		<a class="button is-primary">Book Here</a>
			    	</div>	
				</div>
			</div>
		</div>
	</section>

	{{!-- Trip Advisor --}}
	<section class="hero">
		<div class="hero-body">
			<div class="columns">
				<div id="TA_cdsratingsonlywide40" class="TA_cdsratingsonlywide trip-advisor-column">
					<ul id="Ev3ns3" class="TA_links Rmjk3zzeF">
					<li id="iN4dW5MEil" class="pNg8KFDT3">
					<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
					</li>
					</ul>
				</div>
				<script src="https://www.jscache.com/wejs?wtype=cdsratingsonlywide&amp;uniq=40&amp;locationId=1489200&amp;lang=en_US&amp;border=false&amp;display_version=2"></script>
			</div>
		</div>
	</section>

</div>