{{!-- Hero Image --}}
<section class="hero is-light review-hero">
	<img src="/images/surf_review_hero.jpg">
</section>

{{!-- Check out the Reviews Paragraph --}}
<section class="hero">
  <div class="hero-body reviews">
    <div class="container has-text-centered">
      <h1 class="title">
        Testimonials
      </h1>
      <h2 class="subtitle">
        Check out what people are saying about us!
      </h2>
    </div>
  </div>
</section>

{{!-- Actual Review Section --}}
<div class="box review-box box-one">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Helene W,</strong> <small> Sweden</small><small> June 28, 2017</small>
          <br>
        	This is a great surfing school! The whole family could pop-up and ride a wave with teh help of an awesome surfing instructor, Zane. He made us feel safe and made our day fabulous.  I can highly recommend this activity!
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box review-box box-two">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Stacy P</strong><small> June 28, 2017</small>
          <br>
        	We had a blast! Zane is awesome. Fun, safe and informative. Great Instructor. Water was cold but we still had fun.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box review-box box-one">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>WKK10,</strong> <small>North Carolina</small><small> June 23, 2015</small>
          <br>
			The place is gorgeous (right near Pebble Beach golf course), the price is reasonable (enjoyed the group lesson), and the instruction was awesome (thanks, Ryan). I learned to surf(a bit, anyway) in two hours! Definitely give them a try.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box review-box box-two">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Ville T,</strong><small> October 31, 2014</small>
          <br>
			For those thinking about learning how to surf and ponder whether to get a coach or try it yourself: don´t think – get a coach! Rick was able to help us to really see and experience how much fun surfing is. We were at Carmel beach with my 7-year old son. Especially with kids you really need to be careful and respect the sea. There is always little bumps and bruises when you are outdoors and this sport is no different. It helps when you have a professional there to help. Well, more than that - it makes the difference between trying it and actually learning it. Awesome!
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box review-box box-one">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Prellyann,</strong><small>Savannah, Georgia</small> <small> June 8, 2014</small>
          <br>
			These guys gave us a great experience and were very friendly and accommodating. I am guessing that they don't get many requests to teach lessons while having to let my husband and i switch off watching our baby, but they made it happen. We had a 7 month baby in tow on our recent trip and no one to watch her...so we took her along. One of us played on the beach while the other went out and surfed. The staff didn't even bat and eye! They were great and we couldn't have asked for a better time!
        </p>
      </div>
    </div>
  </article>
</div>

<div class="box review-box box-two">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Ec C,</strong><small>Barrie, Canada</small> <small> June 8, 2014</small>
          <br>
			Had a great beginner's surf lesson by the folks at South Bay surf riders. The staff are fun and encouraging. The experience was one that stood out for us during our week long trip in California. They squeezed us in with minimal trouble for a next day lesson when we were in town. I would recommend this as an activity for any active travellers!
        </p>
      </div>
    </div>
  </article>
</div>

<div class="box review-box box-one">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Ec C,</strong><small>Barrie, Canada</small> <small> June 8, 2014</small>
          <br>
			Had a great beginner's surf lesson by the folks at South Bay surf riders. The staff are fun and encouraging. The experience was one that stood out for us during our week long trip in California. They squeezed us in with minimal trouble for a next day lesson when we were in town. I would recommend this as an activity for any active travellers!
        </p>
      </div>
    </div>
  </article>
</div>
