body {
	font: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	display: inline-block;
}
.content h2 {
	color: #fff;
	text-shadow: 0px 0.75px 0.75px #000;
	font-weight: 700;
    font-size: 2em;
}
.content h4 {
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 0.75px 0.75px #000;
}
.content h5 {
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 0.75px 0.75px #000;
}

/*HEADER NAVBAR STYLING*/
.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
	background-color: #ffffff !important;
}
.header-main-section {
	position: fixed !important;
}
.navbar > ul > li > a {
	color: #000;
}
.navbar {
	background: rgba(255, 255, 255, 0.3);
/*	position: fixed !important;*/
	top: 0;
	left: 0;
	right: 0;
    height: 74px;
}
.nav-block {
	height: 3em;
}
.navbar-brand.bulma {
    margin-left: 100px;	
    padding-top: 27px;
}
.navbar-item {
	padding-left: 75px;
}
#photo-item {
	padding-right: 58px;
}
.button {
	height: 2em;
}
.button.is-primary.book-nav-button {
    margin-left: 100px;
    font-family: "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-menu {
    padding-right: 30px;
}
.fa-phone {
	padding-top: 16px;
    padding-left: 19px;
}
.fa-envelope {
	margin-left: 10px;
    margin-top: 13px;
}
.facebook-icon {
	margin-left: 500px;
	margin-top: 14px;
}
.fa-instagram {
	color: #fff;
}
.navbar-item img {
    max-height: 4rem;
    width: 105px;
    height: 125px;
}
.book-nav-button {
	margin-top: 8px;
}
.number-nav {
    padding-top: 10px;
}

/*FOOTER STYLING*/
footer {
	background-color: #2d2d2d !important;
    height: 50px;
}
.facebook-footer, .copyright {
	color: #fff;
}
.TA_socialButtonBubbles {
	display: inline-block;
}
.insta-footer {
	padding-left: 12px;
}
.trip-advisor-footer {
	padding-left: 12px;
	background-color: inherit;
}
.social-column {
	margin-left: 336px;
}
.footer-button {
    margin-top: 32px;
}

/*INDEX PAGE STYLING*/
/*.hero.is-primary {
    height: 47px;
    padding-top: 5px;
}*/
.hero.hero-nav {
    height: 77px;
}	
.hero-center-box {
	display: inline-block;
	background: turquoise;
	background: rgba(255, 255, 255, 0.3)
}
.hero_image {
	size: contain;	
	height: 1080px;
}
.hero-subtitle {
    padding-left: 220px;
    padding-right: 220px;
}
.hero-safety {
	padding-top: 6em !important;
	padding-bottom: 6em !important;
}
.homepage-main-hero {
	background: rgba(255, 255, 255, 0.2);
	background-image: url("/images/surf_2.jpg");
	background-size: cover;
}
.box.pricing-one{
	text-align: center;
	height: 450px;
}
.box.pricing-two{
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	text-align: center;
	height: 450px;
}
.box.pricing-three{
	text-align: center;
	height: 450px;
}
.box.pricing-four{
	text-align: center;
	height: 450px;
}
.box.pricing-one {
	background-image: url("/images/surf-11.jpg");
	background-size: cover;
}
.box.pricing-two {
	background-image: url("/images/surf-9.jpg");
	background-size: cover;
}
.box.pricing-three {
	background-image: url("/images/surf-10.jpg");
	background-size: cover;
}
.box.pricing-four {
	background-image: url("/images/surf-4.jpg");
	background-size: cover;
}
.pricing-content {
	margin-top: 3em;
	text-align: center;
}
.pricing-block-one {
	margin-top: 87px;
}
.pricing-block-two {
	margin-top: 64px;
}
.pricing-block-three {
	margin-top: 14px;
    padding-top: 5px;
}
.pricing-block-four {
    margin-top: 65px;
}
.index-title {
	font-size: 77px;
	color: #fff;
	font-weight: 500;
}
.index-title title {
	margin-top: -85px;
	margin-bottom: 2em;
}
.subtitle-text {
	color: #fff;
}
.rental-subtitle {
	text-align: center;
}
.trip-advisor-column-index {
	margin-left: 420px;
}
table {
    width: 50% !important;
    margin-left: 292px;
}

.rent-wetsuit-column {
    margin-left: 272px;
}
/* REVIEW STYLING */

.review-box {
    margin-left: 150px;
    margin-right: 150px;
}
.box-one {
	background: #1995AD;
}
.box-two {
	background: #66A5AD;
}
strong {
	color: #ffffff;	
}
.review-content {
	color: #ffffff;
}
.rent-surfboard-h1 {
	font-size: 41px;
}
.book-button {
	padding-left: 82px;
    padding-top: 22px;
}
.trip-advisor-column {
    margin-left: 439px;
}

/* ABOUT STYLING PAGE */
.title {
	text-align: center;
}
.is-7 {
    font-size: 20px;
}
.about-column {
    margin-left: 175px;
}

/* FAQ STYLING PAGE*/
.faq-image {
	display: inline;
}
.faq-content {
	color: #fff;
}
.box-three {
	background-color: #BCBABE;
}
.box-four {
	background-color: #A1D6E2;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="column"] {
        width: 100%;
    }
    [class*="hero-subtitle"] {
    	padding-left: 0;
    }
    [class*="hero-title"] {
    	font-size: 18px;
    }
}