body {
	font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	margin-left: 44px;
}

/*Header and Navbar*/
.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
	background-color: #ffffff !important;
}
.header-main-section {
	position: fixed !important;
}
.navbar > ul > li > a{
	color: #333333;
}
.navbar {
	background: rgba(255, 255, 255, 0.3);
/*	position: fixed !important;*/
	top: 0;
	left: 0;
	right: 0;
}
.navbar-item {
	padding-left: 55px;
}
#photo-item {
	padding-right: 58px;
}
/*End Header and Navbar*/

/*homepage styling*/
.hero-center-box {
	display: inline-block;
	background: turquoise;
}
.hero_image {
	size: contain;	
	height: 1080px;
}

.homepage-main-hero {
	background: rgba(255, 255, 255, 0.3);
	background-image: url("/images/surf_2.jpg");
	background-size: cover;
}

/* Review Page*/

.reviews {

}
.review-box {
    margin-left: 150px;
    margin-right: 150px;
}
.box-one {
	background: #07575B;
}
.box-two {
	background: #66A5AD;
}
p {
	color: #ffffff;
}
strong {
	color: #ffffff;	
}
/* End Review Page*/

h1 {
	color:;
}